<template>
  <VBottomNavigation
      grow
      v-model="activeItem"
      :elevation="21"
      bg-color="primary"
  >
    <VBtn icon value="home" :to="{name: 'home'}"><VIcon>mdi-home</VIcon>Home</VBtn>
    <VBtn icon value="trips" :to="{name: 'trips'}"><VIcon>mdi-palm-tree</VIcon>Trips</VBtn>
    <VBtn icon value="about" :to="{name: 'about'}"><VIcon>mdi-information</VIcon>About</VBtn>
  </VBottomNavigation>
</template>

<script setup lang="ts">
import {ref} from "vue";

const activeItem = ref("home")
</script>

<style scoped>

</style>