<template>
  <div>
    <VAppBar app fixed flat     style="background: transparent">
      <VAppBarNavIcon @click.stop="showMenu = !showMenu"></VAppBarNavIcon>
      <VToolbarTitle>Travel Planner</VToolbarTitle>
    </VAppBar>
    <VNavigationDrawer app fixed v-model="showMenu">
      <!--      <v-list dense>-->
      <!--        <v-list-item>-->
      <!--          <v-list-item-action>-->
      <!--            <v-icon>settings</v-icon>-->
      <!--          </v-list-item-action>-->
      <!--          <v-list-item-content>-->
      <!--            <v-list-item-title>Settings</v-list-item-title>-->
      <!--          </v-list-item-content>-->
      <!--        </v-list-item>-->
      <!--        <v-list-item>-->
      <!--          <v-list-item-action>-->
      <!--            <v-icon>help</v-icon>-->
      <!--          </v-list-item-action>-->
      <!--          <v-list-item-content>-->
      <!--            <v-list-item-title>Help</v-list-item-title>-->
      <!--          </v-list-item-content>-->
      <!--        </v-list-item>-->
      <!--      </v-list>-->
    </VNavigationDrawer>
  </div>
</template>
<script setup lang="ts">
import {ref} from "vue";

const showMenu = ref(false);

</script>

<style scoped>

</style>