<template>
  <div class="d-flex flex-column">
    <h1>This is an about page</h1>
    <VBtn color="primary">Test</VBtn>
    <VBtn color="secondary">Test</VBtn>
    <VBtn color="accent">Test</VBtn>
    <VBtn color="info">Test</VBtn>
    <VBtn color="success">Test</VBtn>
    <VBtn color="warning">Test</VBtn>
    <VBtn color="error">Test</VBtn>

  </div>
</template>
