<template>
  <VContainer :class="$vuetify.display.smAndUp ? 'width50' : null">
    <VCard>
      <VForm ref="form" v-model="valid" lazy-validation @submit.prevent="login">
        <VCardTitle>Logowanie</VCardTitle>
        <VCardText>
          <VRow no-gutters>
            <VTextField
                v-model="username"
                :rules="[usernameRules]"
                variant="underlined"
                label="Nazwa użytkownika"
            ></VTextField>
          </VRow>
          <VRow no-gutters>
            <VTextField
                v-model="password"
                :rules="[passwordRules]"
                variant="underlined"
                label="Hasło"
                type="password"
            ></VTextField>
          </VRow>
        </VCardText>
        <VCardActions>
          <VSpacer></VSpacer>
          <VBtn color="primary" variant="elevated" type="submit">
            Sign in
          </VBtn>
          <VBtn color="primary" variant="elevated" @click="check">
            Check
          </VBtn>
        </VCardActions>
      </VForm>
    </VCard>
  </VContainer>
</template>

<script setup lang="ts">

import {ref} from "vue";
import {VForm} from "vuetify/components";
import {useStore} from "vuex";
import {useFirebaseAuth} from "vuefire";

const store = useStore()
const auth = useFirebaseAuth()!
const form = ref<VForm | null>(null)
const valid = ref(false)
const username = ref("")
const password = ref("")
const usernameRules = (val: String) => (!!val && !!val.trim()) || "Nazwa użytkownika jest wymagana"
const passwordRules = (val: String) => (!!val && !!val.trim()) || "Haso jest wymagane"

async function login() {
  await form?.value?.validate().then(async result => {
        if (result.valid) {
          await store.dispatch("login", {email: username.value, password: password.value})
        }
      }
  )
}

async function check() {
  const user = auth.currentUser
  console.log(user)
  user?.getIdToken().then((res) => console.log(res))
}

</script>

<style scoped>
.width50 {
  width: 50%;
}

</style>