<template>
  <div>
    <VCard style="margin-bottom: 1rem">
      <VCardActions class="pa-1">
        <VTextField
            v-if="smAndUp"
            class="pa-1"
            variant="underlined"
            clearable
            prepend-inner-icon="mdi-magnify"
            density="compact"
        />
        <VTextField
            v-if="!smAndUp"
            variant="underlined"
            clearable
            prepend-inner-icon="mdi-magnify"
            density="compact"
            append-inner-icon="mdi-chevron-down"
            @click:append-inner="advancedSearch = !advancedSearch"
        />
        <VBtn
            v-if="smAndUp"
            color="accent"
            size="small"
            append-icon="mdi-chevron-down"
            @click="advancedSearch = !advancedSearch">Show filters
        </VBtn>
      </VCardActions>
      <VExpandTransition>
        <VCardText v-show="advancedSearch">
          Filters etc
        </VCardText>
      </VExpandTransition>
    </VCard>

    <VRow>
      <VCol v-for="trip in trips" :key="trip" cols="12" sm="6">
        <TripCard :name="trip.name" :location="trip.location" :description="trip.description" :rating="trip.rating"
                  :reviews="trip.reviews"/>
      </VCol>
    </VRow>
  </div>
</template>

<script setup lang="ts">
import TripCard from "@/components/TripCard.vue";
import {ref} from "vue";
import {useDisplay} from "vuetify";

const {mdAndDown, smAndUp} = useDisplay()

const advancedSearch = ref(false)
const trips = [
  {
    name: "Waikiki Beach lorem ipsum doret lorem",
    location: "O'ahu, Hawaii",
    description: "Cancun is back, better than ever! Over a hundred Mexico resorts have reopened and the state tourism minister predicts Cancun will draw as many visitors in 2006 as it did two years ago.",
    rating: 3,
    reviews: 5
  },
  {
    name: "Road to Hana",
    location: "Maui, Hawaii",
    description: null,
    rating: 4,
    reviews: 2
  },
  {
    name: "Kaawa Beach",
    location: "O'ahu, Hawaii",
    description: "Lorem ipsum lorem ipsum lorem psum ",
    rating: 5,
    reviews: 0
  },
  {
    name: "Road to Hana",
    location: "Maui, Hawaii",
    description: null,
    rating: 4,
    reviews: 2
  }
]
</script>

<style>
.expand-enter-active, .expand-leave-active {
  transition: height 0.3s ease-out;
}

.expand-enter, .expand-leave-to {
  height: 0;
  opacity: 0;
}
</style>