<template>
  <VCard variant="elevated" elevation=2>
    <VImg :max-height="'25vh'" :src="imageSrc" cover/>
    <VCardItem>
      <VCardTitle class="text-wrap">{{ name }}</VCardTitle>
      <VCardSubtitle class="text-wrap">{{ location }}</VCardSubtitle>
    </VCardItem>
    <VCardActions>
      <VCol>
        <VBtn color="primary" variant="tonal">Details</VBtn>
      </VCol>
      <VCol>
        <VRow>
          <VSpacer></VSpacer>
          <VRating
              v-model="ratingRef"
              color="orange-lighten-1"
              density="compact"
              hover
              size="small"/>
        </VRow>
        <VRow>
          <VSpacer></VSpacer>
          <VBtn
              color="primary"
              size="small"
              variant="plain"
              append-icon="mdi-chevron-down">
            Reviews ({{ reviews }})
          </VBtn>
        </VRow>
      </VCol>
    </VCardActions>
  </VCard>
</template>

<script setup lang="ts">
import {ref} from "vue";

const props = defineProps({
  name: String,
  description: String,
  location: String,
  rating: Number,
  reviews: Number
})

const ratingRef = ref(props.rating)
const imageSrc = "https://cdn.vuetifyjs.com/images/cards/docks.jpg"

</script>

<style scoped>

</style>