<template>
    <AppLayout/>
</template>

<script setup lang="ts">
import AppLayout from "@/layout/AppLayout.vue";
import {useFirebaseAuth} from "vuefire";

const auth = useFirebaseAuth()!

auth.onAuthStateChanged((state) => {
  console.log("auth changed", state)
})
</script>
