<template>
  <VApp class="main">
    <Navigation/>
    <VMain>
      <RouterView class="pa-6"/>
    </VMain>
  </VApp>
</template>
<script lang="ts" setup>
import Navigation from "@/layout/Navigation.vue";
</script>

<style lang="scss">
.main {
  background-color: #F4F5FA
}

</style>