<template>
  <VNavigationDrawer v-model="drawer" app>
    <SideMenu/>
  </VNavigationDrawer>
  <VAppBar app class="px-6 not-fixed" flat style="border-bottom: 1px solid lightgray">
    <template v-if="mdAndDown" #prepend>
      <VAppBarNavIcon
          @click="drawer = true"
      />
    </template>
    <VToolbarTitle>{{ store.getters.activeRoute }}</VToolbarTitle>
    <VSpacer/>
    <VBtn color="secondary" variant="tonal">Sign in</VBtn>
  </VAppBar>
</template>
<script lang="ts" setup>
import SideMenu from "@/layout/SideMenu.vue";
import {useDisplay} from 'vuetify'
import {ref} from "vue";
import store from "../store";

const {mdAndDown, smAndUp} = useDisplay()
const drawer = ref(smAndUp.value)

</script>

<style lang="scss">

.not-fixed {
  position: absolute !important;
}

</style>