<template>
  <VList>
    <VListItem :prepend-avatar="logoUrl" title="Travel planner"></VListItem>
  </VList>

  <v-divider></v-divider>

  <VList nav>
    <VListItem prepend-icon="mdi-home" title="Home" :to="'/home'"></VListItem>
    <VListItem prepend-icon="mdi-palm-tree" title="Trip catalog" :to="'/trip-catalog'"></VListItem>
    <VListItem prepend-icon="mdi-palm-tree" title="Trip creator" :to="'/trip-creator'"></VListItem>
  </VList>
</template>

<script setup lang="ts">

import {onMounted} from "vue";

const logoUrl: String = require("@/assets/logo.png")

onMounted(() =>{
  console.log("mounted")
})

</script>